@{
    ViewBag.Title = "Home Page";
}

<div class="justify-content-center">
    <div class="col-sm-6 px-0 d-none d-sm-block" style="margin-left:10rem">

        <img src="~/Content/images/ea7f2dd47969349da148ea0b4ec56815.gif" alt="Login image" class="imag" />

    </div>

</div>



